.App {
  text-align: center;
  padding: 20px;
}

.card-book {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  border: 1px solid black;
  margin: 10px;
}

.list-books {
  display: flex;
  flex-direction: column;
  width: 460px;
  border: 1px solid gray;
  margin: 10px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}